body{
     background-image: url('Images/backgroundImage.png');
     background-size: cover;
     min-height: 40rem;   
}
.welcome-div{
    display: grid;
    justify-content: center;
    margin: 2rem 4rem 0rem 15rem;
    text-align: center;
}
.welcome-div p{
    color: rgb(14, 14, 15);
    
}
.container{
    display: flexbox;
    justify-content: center;
    border: 1px solid black;
    margin: 2rem;
    text-align: center;
}
.main-btn{
    background-color: lightseagreen;
    border-radius: 50%;
    height: 4rem;
    width: 25rem;
    font-size: 1.75rem;
    font-weight: 580;
    margin: 1.5rem;
}
a{
    text-decoration: none;
}

h1{
    color: rgb(8, 8, 8);
    margin: 1rem 2rem;
    text-align: center;
    font-size: 5rem;

}
span,p,input{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1.2rem;
}
.sum-btn{
    color: blue;
    margin: 2% 5% 2% 10%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
}
.output{
    border: 1px solid black;
    margin: 2% 11% 2% 11%;
    height: 4rem;
    text-align: center;
    
}