body{
    background-image: url('../Images/backgroundImage.png');
    background-size: cover;
    min-height: 40rem;   
}
.container{
    border: 1px solid rgb(7, 7, 7);
    margin: 2rem;
    text-align: center;
    border-radius: 2rem;
}
a{
    text-decoration: none;
    color: rgb(4, 18, 34);
}
h1{
    color: rgb(11, 243, 204);
    margin: 2rem 0rem 0rem 3rem;
    text-align: center;

}
p{
    font-size: 1.55rem;
    font-weight: 200;
    margin: 2rem;
}
.output{
    border: 1px solid black;
    margin: 1% 22% 0% 25%;
    height: 2.5rem;
    border-radius: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    
}
ol{
    display: flex;
    justify-content: center;
    margin: -1rem 0rem 0rem -3rem;
    font-size: 1.55rem;
}
.submit{
    color: rgb(4, 18, 34);
    margin: 4% 5% 2% 4%;
    border: 1px solid rgb(250, 248, 248);
    border-radius: 2rem;
    text-align: center;
    font-size: 1.75rem;
    width: 10rem;
    height: 3rem;
}